# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.md_files
Backend/config/volunteerapp-3eb0e-firebase-adminsdk-fbsvc-00bcd2c03a.json
node_modules
**/venv/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backup
COSC4353_Project.7z
