# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# May not need since this is firebase; Depreciated
Backend/config/volunteerapp-3eb0e-firebase-adminsdk-fbsvc-00bcd2c03a.json

.md_files 
node_modules
**/venv/
**/.venv/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore datbase
*.db
volunteer.db

# Backup
COSC4353_Project.7z
*.7z
*.zip